<script language="Javascript"></script>

<h1 align="center">Join the Masterclass today</h4><hr>

<div class="col-md-8 col-md-offset-2">
  <div class="panel panel-default">
    <div class="panel-heading text-center">
      <h4><strong>Sign Up</strong></h4>
    </div>
    <div class="panel-body">
      <%= form_tag("/checkouts", method: "post", id: "payment-form") do %>
        <div class="form-group col-md-12">
          <label for="first_name">First Name</label>
          <input class="form-control" name="first_name" placeholder="First Name">
        </div>
        <div class="form-group col-md-12">
          <label for="last_name">Last Name</label>
          <input class="form-control" name="last_name" placeholder="Last Name">
        </div>
        <div class="form-group col-md-12">
          <label for="email">Email</label>
          <input class="form-control" type="email" name="email" placeholder="Email">
        </div>
        
        <div class="form-group col-md-12">
          <label for="card-number">Card Number</label>
          <div id="card-number" class="form-control"></div>
        </div>
        <div class="form-group col-md-6">
          <label for="expiration-date">Expiration Date</label>
          <div id="expiration-date" class="form-control"></div>
        </div>
        <div class="form-group col-md-6">
          <label for="cvv">CVV</label>
          <div id="cvv" class="form-control"></div>
        </div>
        <input name="payment_method_nonce" type="hidden">
        <div class="form-group col-md-12">
          <input class="btn btn-primary form-control" type="submit" value="Enroll now for $10" disabled />
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
  var form = document.querySelector('#payment-form');
  var submit = document.querySelector('input[type="submit"]');

  braintree.client.create({
    authorization: 'sandbox_7tydyn8p_235zhthv55dqtgks'
  }, function (clientErr, clientInstance) {
    if (clientErr) {
      console.error(clientErr);
      return;
    }

    // This example shows Hosted Fields, but you can also use this
    // client instance to create additional components here, such as
    // PayPal or Data Collector.

    braintree.hostedFields.create({
      client: clientInstance,
      styles: {
        'input': {
          'font-size': '14px'
        },
        'input.invalid': {
          'color': 'red'
        },
        'input.valid': {
          'color': 'green'
        }
      },
      fields: {
        number: {
          selector: '#card-number',
          placeholder: '4111 1111 1111 1111'
        },
        cvv: {
          selector: '#cvv',
          placeholder: '123'
        },
        expirationDate: {
          selector: '#expiration-date',
          placeholder: '02/20'
        }
      }
    }, function (hostedFieldsErr, hostedFieldsInstance) {
      if (hostedFieldsErr) {
        console.error(hostedFieldsErr);
        return;
      }

      submit.removeAttribute('disabled');

      form.addEventListener('submit', function (event) {
        event.preventDefault();

        hostedFieldsInstance.tokenize(function (tokenizeErr, payload) {
          if (tokenizeErr) {
            console.error(tokenizeErr);
            return;
          }

          // If this was a real integration, this is where you would
          // send the nonce to your server.
          console.log('Got a nonce: ' + payload.nonce);
          document.querySelector('input[name="payment_method_nonce"]').value = payload.nonce;
          form.submit();
        });
      }, false);
    });
  });
});
</script>