$navbar-default-bg: #FFFF33;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #9933ff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #a15ce6;
  text-decoration: none;
}

.panel > .panel-heading {
  background-image: none;
  background-color: black;
  color: white;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
  background-color: black !important;
}

.btn-primary:hover {
  background-color: #1a1515 !important;
  color: #e8e8e3 !important;
}